<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="alert alert-danger text-center" role="alert">
      Clocked Out
    </div>
  </div>
  <div class="col-4"></div>
</div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <h3><%= Time.now.to_formatted_s(:short) %></h3>
        </br>
        <h1>10 hr 34 min</h1>
        </br>
        <button type="button" class="btn btn-outline-success btn-lg">Clock In</button>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
