<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>Welcome to Simple Timesheet</h3>
        </br>
        <h5>Simple Timesheet is a web app that companies can use to track employees' hours</h5>
      </div>
    </div>
  </div>
</div>