<% tab "company" %>

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h1>Companies</h1>

                </br>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @companies.each do |company| %>
                      <tr>
                        <td><%= link_to company.name, company %></td>
                        <td><%= eval(Employee.find_by(user_id: current_user.id, company_id: company.id).delete_company_link) %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<br>
