<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h1>New Company</h1>
                </br>
                <%= render 'form', company: @company %>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>

